/////////////////////////////
//// Placeholders
/////////////////////////////

%btn {
	display: inline-block;
	border: 0;
	padding: 12px;
	border-radius: 6px;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	cursor: pointer;

	&:focus {
		outline: 0;
	}
}

/////////////////////////////
//// Classes
/////////////////////////////

.btn-play {
	@extend %btn;
	padding-left: 20px;
	padding-right: 20px;
	background: $apple;
	color: #fff;
	font-size: 22px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	transition: background ease-out .15s, box-shadow ease-out .15s;

	&:hover {
		background: darken($apple, 8%);
		box-shadow: 0px 0px 0px rgba(0, 0, 0, .3);
	}

	&-reverse {
		@extend %btn;
		background: #fff;
		color: $apple;
		font-size: 22px;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
		transition: background ease-out .15s, box-shadow ease-out .15s;

		&:hover {
			background: lighten($apple, 44%);
			box-shadow: 0px 0px 0px rgba(0, 0, 0, .5);
		}
	}
}
