.centerwrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	> div {
		margin-top: auto;
		margin-bottom: auto;
	}
}

.options {
	text-align: center;
	max-width: 300px;
	margin: auto;

	&-field {
		position: relative;
		right: 20px;

		margin-bottom: 20px;
		text-align: right;
		font-size: 18px;

		> label {
			margin-right: 5px;
		}

		> input {
			width: 55px;
			padding: 10px 5px 10px 10px;
			border: 2px solid $mariner;
			border-radius: 100%;
			text-align: center;
			font-weight: 600;

			&:focus {
				outline: none;
			}
		}
	}
}
