.centerwrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	> div {
		margin-top: auto;
		margin-bottom: auto;
	}
}

.options {
	text-align: center;
	max-width: 300px;
	margin: auto;

	&-field {
		position: relative;
		right: 20px;

		margin-bottom: 20px;
		text-align: right;
		font-size: 18px;

		> label {
			margin-right: 5px;
		}

		> input {
			width: 55px;
			padding: 10px 5px 10px 10px;
			border: 2px solid $mariner;
			border-radius: 100%;
			text-align: center;
			font-weight: 600;

			&:focus {
				outline: none;
			}
		}
	}
}

.btn-play {
	@extend %btn;
	padding-left: 20px;
	padding-right: 20px;
	background: $apple;
	color: #fff;
	font-size: 22px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	transition: background ease-out .15s, box-shadow ease-out .15s;

	&:hover {
		background: darken($apple, 8%);
		box-shadow: 0px 0px 0px rgba(0, 0, 0, .3);
	}

	&-reverse {
		@extend %btn;
		background: #fff;
		color: $apple;
		font-size: 22px;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
		transition: background ease-out .15s, box-shadow ease-out .15s;

		&:hover {
			background: lighten($apple, 44%);
			box-shadow: 0px 0px 0px rgba(0, 0, 0, .5);

		}
	}
}
