// Force a number between a specific range
@function clamp($value, $min, $max) {
	@return if($value > $max, $max, if($value < $min, $min, $value));
}

// Get a list of every possible abbrevations from a string
// Ex : abbr(yolo) => (y, yo, yol, yolo)
@function abbr($string) {
	$list: ();
	@for $i from 1 through str-length($string) {
		$a: str-slice($string, 1, $i);
		$list: append($list, $a);
	}
	@return $list;
}
