/////////////////////////////
//// Typography
/////////////////////////////
$font-size-root: 16px;
$font-primary: 'Lato', Helvetica, Arial, sans-serif;

/////////////////////////////
//// Colors
/////////////////////////////
$mariner: #3185CD;

