/////////////////////////////
//// Colors
/////////////////////////////

$mariner: #3185CD;
$apple: #4AC232;
$mandy: #E94D4D;
$sunglow: #FFC23A;

$primary: $mariner;
$player-one: $mandy;
$player-two: $sunglow;

/////////////////////////////
//// Typography
/////////////////////////////

$font-size-root: 16px;
$font-primary: 'Lato', Helvetica, Arial, sans-serif;
$font-color-body: #333;
